@font-face {
    font-family: 'Irken';
    src: url(../fonts/Irken.ttf);
}

@font-face {
    font-family: 'Invader';
    src: url(../fonts/Invader.TTF);
}

/* General Content
_______________________________________________*/

body {
	background-image: url('../images/background.png');
	background-color: #07043b;
	background-attachment: fixed;
}

.wrapper {
    border: black solid 3px;
    border-bottom: none;
    border-top: none;
    background-color: #514A52;
    box-shadow: 0 3px 100px #e4ff00;
    padding: 0;
}

.site_banner {
    width: 100%;
}

.section {
	width: 100%;
	border: solid 3px #04073b;
	border-width: 3px 12px 12px 3px;
    border-radius: 20px;
	background-color: #000766;
	padding-left: 15px;
	padding-right: 15px;
    padding-bottom: 15px;
	font-family: sans-serif;
	color: #ffffff;
    margin-bottom: 30px;
    overflow: auto;
}

.section hr {
    border-bottom: 1px solid #2D043B;
    margin: 1em 0;
}

.section h2 {
    font-family: 'Invader';
    font-size: 3.5em;
    text-shadow: 2px 2px 4px black;
}

.section h3 {
    font-family: 'Voltaire', sans-serif;
    font-size: 2em;
}

.section p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

.section p a {
    text-decoration: none;
    color: green;
}

.section p a:hover {
    color: limegreen;
}

.image_container img {
    width: 100%;
}

.section .text_link {
    font-size: 1.3em;
}

.item {
    border: 3px solid purple;
    border-radius: 20px;
    background-color: #111;
    padding: 15px;
    padding-top: 0;
    box-shadow: 3px 3px 5px #222;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #222;
    transition: 200ms;
}

.other_areas ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.other_areas li {
    margin-bottom: 10px;
}

.other_areas ul a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.other_areas ul a:hover {
    color: #4dff4d;
    text-shadow: 0 0 15px #1aff1a;
    transition: 200ms;
}

/* Nav
_______________________________________________*/
.navbar {
    width: 100%;
    background-color: #262752;
    border: none;
    border-top: 3px solid #04043b;
    border-bottom: 3px solid #04043b;
    border-radius: 0;
    color: #514A52;
}

.navbar li {
    font-family: 'Invader';
    text-shadow: 1px 1px 1px #222;
    font-size: 2em;
    letter-spacing: 1px;
    transition: 300ms;
}

.navbar li:hover {
    background-color: #32356d;
    transition: 300ms;
}

.nav-content {
    position: absolute;
    overflow: hidden;
    background-color: #32356d;
    width: 10em;
}

.nav-content ul {
    padding: 0;
    list-style-type: none;
}

.nav-content ul li {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.1em;
    color: white;
}

.nav-content ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-content li:hover {
    background-color: #262752;
    transition: 300ms;
}

.nav-content {
    display: none;
    transition: 300ms;
}

.nav li:hover .nav-content {
    display: block;
    transition: 300ms;
    z-index: 9999;
}

/* Images
_______________________________________________*/
.info_buttons {
    width: 100%;
    border-radius: 20px;
    border: solid 3px #04073b;
    border-width: 3px 12px 12px 3px;
    margin-bottom: 20px;
}

.info_buttons:hover {
    -webkit-filter: brightness(1.2);
    -webkit-transition: all 200ms ease;
}

/* Side Bar
_______________________________________________*/
aside.side_bar {
    background-color: #808080;
	border: solid #04073b;
	border-width: 3px 12px 12px 3px;
	width: 100%;
	padding: 15px;
    padding-top: 0;
	font-family: sans-serif;
    margin-bottom: 30px;
}

#paypal form {
    text-align: center;
}

aside h2 {
    font-family: 'Invader';
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    letter-spacing: 1px;
}

h2 span {
    font-size: 1.4em;
}

.side_bar form {
    text-align: center;
    margin: 1em;
}

.side_bar p {
    color: #222;
}

.side_bar a {
    color: green;
}

.side_bar a:hover {
    color: limegreen;
}

/* Footer
_______________________________________________*/
footer {
    width: 100%;
    background-color: #262752;
    border-top: 3px solid #04043b;
    padding: 15px;
    text-align: center;
    color: white;
}


/* Media Queries
_______________________________________________*/
@media screen and (max-width: 990px) {
    #minimoose {
        margin-left: 10%;
    }
}
@media screen and (max-width: 767px) {
    .nav li:hover .nav-content {
        display: none;
    }

    .side_bar section {
        text-align: center;
    }

    #minimoose {
        margin-left: 2%;
    }

    .other_areas div ul li {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .section h2 {
        text-align: center;
        font-size: 2.5em;
    }
}
