@font-face {
    font-family: 'Irken';
    src: url(../fonts/Irken.ttf);
}

@font-face {
    font-family: 'Invader';
    src: url(../fonts/Invader.TTF);
}

/* General Content
_______________________________________________*/

body {
	background-image: url('../images/background.png');
	background-color: #2D043B;
	background-attachment: fixed;
}

.wrapper {
    border: black solid 3px;
    border-bottom: none;
    border-top: none;
    background-color: #514A52;
    box-shadow: 0 3px 100px #00FF00;
    padding: 0;
}

.site_banner {
    width: 100%;
}

.section {
	width: 100%;
	border: solid 3px #2D043B;
	border-width: 3px 12px 12px 3px;
    border-radius: 20px;
	background-color: #66005A;
	padding-left: 15px;
	padding-right: 15px;
    padding-bottom: 15px;
	font-family: sans-serif;
	color: #ffffff;
    margin-bottom: 30px;
}

.section hr {
    border-bottom: 1px solid #2D043B;
    margin: 1em 0;
}

.section h2 {
    font-family: 'Invader';
    font-size: 3.5em;
    text-shadow: 2px 2px 4px black;
}

.section p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

.section p a {
    text-decoration: none;
    color: green;
}

.section p a:hover {
    color: limegreen;
}

.image_container img {
    width: 100%;
}

.section .text_link {
    font-size: 1.3em;
}

.other_areas ul {
    list-style-type: none;
    padding: 0;
}

.other_areas ul a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.other_areas ul a:hover {
    color: limegreen;
    text-shadow: 0 0 15px #1aff1a;
    transition: 200ms;
}

/* Nav
_______________________________________________*/
.navbar {
    width: 100%;
    background-color: #422652;
    border: none;
    border-top: 3px solid #2D043B;
    border-bottom: 3px solid #2D043B;
    border-radius: 0;
    color: #514A52;
}

.navbar li {
    font-family: 'Invader';
    text-shadow: 1px 1px 1px #222;
    font-size: 2em;
    letter-spacing: 1px;
    transition: 300ms;
}

.navbar li:hover {
    background-color: #58326d;
    transition: 300ms;
}

.nav-content {
    position: absolute;
    overflow: hidden;
    background-color: #58326d;
    width: 10em;
}

.nav-content ul {
    padding: 0;
    list-style-type: none;
}

.nav-content ul li {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.1em;
    color: white;
}

.nav-content ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-content li:hover {
    background-color: #422652;
    transition: 300ms;
}

.nav-content {
    display: none;
    transition: 300ms;
}

.nav li:hover .nav-content {
    display: block;
    transition: 300ms;
    z-index: 9999;
}

/* Images
_______________________________________________*/

/* Side Bar
_______________________________________________*/
aside {
    background-color: #808080;
	border: solid #2D043B;
	border-width: 3px 12px 12px 3px;
	width: 100%;
	padding: 15px;
	font-family: sans-serif;
    margin-bottom: 30px;
}

#paypal form {
    text-align: center;
}

aside h2 {
    font-family: 'Invader';
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    letter-spacing: 1px;
}

h2 span {
    font-size: 1.4em;
}

/* Footer
_______________________________________________*/
footer {
    width: 100%;
    background-color: #422652;
    border-top: 3px solid #2D043B;
    padding: 15px;
    text-align: center;
    color: white;
}


/* Media Queries
_______________________________________________*/
@media screen and (max-width: 767px) {
    .nav li:hover .nav-content {
        display: none;
    }
}
