@font-face {
    font-family: 'Irken';
    src: url(../fonts/Irken.ttf);
}

@font-face {
    font-family: 'Invader';
    src: url(../fonts/Invader.TTF);
}

/* General Content
_______________________________________________*/

body {
	background-image: url('../images/background.png');
	background-color: #2D043B;
	background-attachment: fixed;
}

.wrapper {
    border: black solid 3px;
    background-color: #514A52;
    box-shadow: 0 3px 100px #00FF00;
    margin-top: 8px;
    padding: 0;
}

.site_banner {
    width: 100%;
}

/* Nav
_______________________________________________*/
.navbar {
    width: 100%;
    background-color: #422652;
    border: none;
    border-top: 3px solid #2D043B;
    border-bottom: 3px solid #2D043B;
    border-radius: 0;
    color: #514A52;
}

.navbar li {
    font-family: 'Invader';
    text-shadow: 1px 1px 1px #222;
    font-size: 2em;
    letter-spacing: 1px;
    transition: 300ms;
}

.navbar li:hover {
    background-color: #58326d;
    transition: 300ms;
}

.nav-content {
    position: absolute;
    overflow: hidden;
    background-color: #58326d;
    width: 10em;
}

.nav-content ul {
    padding: 0;
    list-style-type: none;
}

.nav-content ul li {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: white;
}

.nav-content li:hover {
    background-color: #422652
}

.nav-content {
    display: none;
}

.nav li:hover .nav-content {
    display: block;
    z-index: 9999;
}

/* Images
_______________________________________________*/

/* Side Bar
_______________________________________________*/
aside {
    background-color: #808080;
	border: solid #2D043B;
	border-width: 3px 12px 12px 3px;
	height: 800px;
	width: 230px;
	margin-right: 20px;
	margin-top: 30px;
	padding: 10px;
	font-family: sans-serif;
}

/* Footer
_______________________________________________*/
footer {
    width: 100%;
    background-color: #422652;
    border-top: 3px solid #2D043B;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}


/* Media Queries
_______________________________________________*/
@media screen and (max-width: 767px) {
    .nav li:hover .nav-content {
        display: none;
    }
}
